.reward-points {
    margin: 20px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  tr:nth-child(even) td {
    background-color: #f4f4f4; 
  }
  
  tr:nth-child(odd) td {
    background-color: #fff; 
  }
  